* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    overflow-y: hidden;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.navbar {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    border-radius: 999px;
    
}

.navbar a {
    text-decoration: none;
    color: black;
    cursor: pointer;

    padding: 5px 16px;
    border-radius: 999px;

    

    transition: background-color 0.2s ease,
                color 0.2s ease;
}

.navbar a:hover {
    background-color: #f0f0f0;
}

.navbar a.active-page {
    background-color: black;
    color: white;
}

main {
    padding: 10px 20px;
}